/*页面样式*/
body{font-family: -apple-system,pingfang tc,microsoft jhenghei,source sans pro,Helvetica,sans-serif;}
body{background: url("/");}

header{left:0; top:0; width:90%; height:3.75rem; line-height:3.75rem; padding:0 5%; background:#2e2e2e; color:#fff;}
header img{height:1.625rem; margin-top:1.0625rem;}
header h3{font-size:0.875rem;}

main{padding:13.75rem 0 0 0;}
#logo img{height:10rem; margin:0 auto; border-radius:0.5rem;}
#font{margin-top:1.875rem;}
#font img{height:1.625rem; margin:0 auto;}

#download{width:47.5rem; margin:10rem auto 0 auto;}
#download>dl{margin-top: 1rem;}
#download>dl::after{content: ""; clear: both; display: block; visibility: hidden; height: 0;}
#download dl dd{float:left; width:22.5rem; height:4rem; line-height:4rem; margin:0 0.625rem;     background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,16,16,1) 50%, rgba(252,176,69,1) 100%); border-radius:2rem; font-size:1.375rem; text-align:center;}
#download dl dd a{display:block; color:#fff;}
#download dl dd em{display:inline-block; background-repeat:no-repeat; background-position:left center;}
#download dl dd.ios em{padding-left:2.75rem; background-image:url(../images/ios.png); background-size:1.5rem 1.875rem;}
#download dl dd.help em{padding-left:2.75rem; background-image:url(../images/help.png); background-size:1.5rem 1.875rem;}
#download dl dd.ios2 em{padding-left:2.875rem; background-image:url(../images/ios.png); background-size:1.625rem 1.875rem;}
#download dl dd.ios3 em{padding-left:2.875rem; background-image:url(../images/ios.png); background-size:1.625rem 1.875rem;}
#download dl dd.tv em{padding-left:2.875rem; background-image:url(../images/tv.png); background-size:1.625rem 1.875rem;}
#download dl dd.pc em{padding-left:2.875rem; background-image:url(../images/pc.png); background-size:1.625rem 1.875rem;}

footer{left:0; bottom:0; width:100%; height:3.125rem; line-height:3.125rem; background:#2e2e2e; font-size:0.875rem; color:#fff;}
footer a{color:#fff;}

/*自适应样式*/

@media screen and (max-width:414px){
	header{height:4.375rem; line-height:3.375rem;}
	header img{height:1.25rem;}

	main{padding:2.375rem 0 0 0;}
	#logo img{height:6.875rem;}
	#font{margin-top:1.25rem;}
	#font img{height:1.25rem;}
	#download{width:100%; margin-top:3.75rem;}
	#download dl dd{float:none; width:90%; height:3.5rem; line-height:3.5rem; margin:1.25rem auto 0 auto; border-radius:1.75rem; font-size:1rem;}
	#download dl dd:first-child{margin-top:0;}
	#download dl dd.ios em{padding-left:2.375rem; background-size:1.125rem 1.375rem;}
	#download dl dd.ios2 em{padding-left:2.5rem; background-size:1.25rem 1.5rem;}
	#download dl dd.ios3 em{padding-left:2.5rem; background-size:1.25rem 1.5rem;}
		#download dl dd.help em{padding-left:2.5rem; background-size:1.25rem 1.5rem;}

	footer{height:2.875rem; line-height:2.875rem;}
}
hr {
            border: 1px solid #ccc;
            margin: 20px 0;